:root {
    --bg1: #0c3b2e;
    --bg2: #6d9773;
    --bg2-2: rgb(109, 204, 50);
    --bg3: #c2be9e;
    --color1: aliceblue;
    --color2: #ffba00;
    --color3: rgb(255, 218, 6);
    --color4: rgb(147, 111, 21);
    --gray1: rgb(122, 122, 122);
}

/* Another theme */
/* :root {
    --bg1: rgb(37, 13, 195);
    --bg2: rgb(26, 110, 146);
    --bg3: rgb(9, 49, 226);
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
} */